li {
    display: flex;
    border-bottom: 1px solid #d7d7d7;
    align-items: center;
    padding: 0.5em;
}

li > div {
    margin-right: 0.5em;
}

button {
    border: 0;
    padding: 0.5em;
    width: 15em;
    margin: 0.3em 0;
    background-color: #dddddd;
}

button:hover {
    background-color: #bebebe;
    cursor: pointer;
}

p, h1 {
    padding: 0.5rem;
}

h1 {
    font-size: 1.5em;
    margin: 1em 0 0.2em 0;
}

textarea#inputTask {
    width: 15em;
    box-sizing: border-box;
}

div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.delete {
    width: 1em;
    height: 1em;
    background-image: url(../img/delete.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
}

.active {
    width: 1em;
    height: 1em;
    background-image: url(../img/active.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
}

.nonActive {
    width: 1em;
    height: 1em;
    background-image: url(../img/nonActive.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
}

.active:hover,
.nonActive:hover,
.delete:hover {
    transform: scale(1.2);
    cursor: pointer;
}
