.topMusicSection {
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url(../img/background2.jpg);
    background-size: auto 93%;
    background-repeat: no-repeat;
    background-position: 0% 100%;
    background-color: #a8a29e;
    overflow: hidden;
}

.topMusic {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: distribute;
        align-content: space-around;
    height: 93vmin;
    margin-top: 7vmin;
    margin-left: 75vh;
    width: auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.topMusic > div {
    height: 40vh;
    width: 33%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.topMusic > div > h3 {
    color: white;
    margin-bottom: 3vmin;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 4.5vmin;
    font-weight: 300;
    letter-spacing: 0.02rem;
}

.box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 25vmin;
    height: 25vmin;
    color: white;
    position: relative;
    cursor: pointer;
}

.gradient-border {
    background: rgba(168, 168, 168, 0.16);
    position: relative;
    border-radius: 50%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 30%;
}

.playBox {
    background-image: url(../img/Icons/play.svg);
}

.stopBox {
    background-image: url(../img/Icons/stop.svg);
}

.box:after {
    content: '';
    position: absolute;
    height: 105%;
    width: 105%;
    border-radius: 50%;
    z-index: -1;
    -webkit-box-shadow: 0 0 4vmin 1px #656565;
            box-shadow: 0 0 4vmin 1px #656565;
    top: -2.5%;
    left: -2.5%;
    
}

/* - CSS animation - */

#song1:after {
    background: -webkit-linear-gradient(110deg, #ff7676, #ffafaf, #ff7676);
    background: -o-linear-gradient(110deg, #ff7676, #ffafaf, #ff7676);
    background: linear-gradient(-20deg, #ff7676, #ffafaf, #ff7676);
    -webkit-animation: animatedgradient 4s linear infinite;
            animation: animatedgradient 4s linear infinite;
}


#song2:after {
    background: -webkit-linear-gradient(70deg, #ffd280, #fdecc1, #ffd280);
    background: -o-linear-gradient(70deg, #ffd280, #fdecc1, #ffd280);
    background: linear-gradient(20deg, #ffd280, #fdecc1, #ffd280);
    -webkit-animation: animatedgradient 4s linear infinite;
            animation: animatedgradient 4s linear infinite;
}

#song3:after {
    background: -webkit-gradient(linear, left top, left bottom, from(#ffff7a), color-stop(#ffffc3), to(#ffff7a));
    background: -webkit-linear-gradient(#ffff7a, #ffffc3, #ffff7a);
    background: -o-linear-gradient(#ffff7a, #ffffc3, #ffff7a);
    background: linear-gradient(#ffff7a, #ffffc3, #ffff7a);
    -webkit-animation: animatedgradient 4s linear infinite;
            animation: animatedgradient 4s linear infinite;
}

#song4:after {
    background: -webkit-linear-gradient(70deg, #7fff7f, #cefbd5, #7fff7f);
    background: -o-linear-gradient(70deg, #7fff7f, #cefbd5, #7fff7f);
    background: linear-gradient(20deg, #7fff7f, #cefbd5, #7fff7f);
    -webkit-animation: animatedgradient 4s linear infinite;
            animation: animatedgradient 4s linear infinite;
}

#song5:after {
    background: -webkit-linear-gradient(30deg, #7a7aff, #b4b4ff, #7a7aff);
    background: -o-linear-gradient(30deg, #7a7aff, #b4b4ff, #7a7aff);
    background: linear-gradient(60deg, #7a7aff, #b4b4ff, #7a7aff);
    -webkit-animation: animatedgradient 4s linear infinite;
            animation: animatedgradient 4s linear infinite;
}

#song6:after {
    background: -webkit-linear-gradient(45deg, #da69da, #e7b3e7, #da69da);
    background: -o-linear-gradient(45deg, #da69da, #e7b3e7, #da69da);
    background: linear-gradient(45deg, #da69da, #e7b3e7, #da69da);
    -webkit-animation: animatedgradient 4s linear infinite;
            animation: animatedgradient 4s linear infinite;
}


#playerContainer {
    position: fixed;
    width: 50vmin;
    height: 7vmin;
    left: 1vmin;
    bottom: 1vmin;
    background-color: rgba(255, 0, 0, 0.5);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    z-index: 6;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

#playerContainer:hover {
    background-color: rgba(255, 0, 0, 0.8);
}

#playPause {
    width: 7vmin;
    height: 7vmin;
}

.playPlayer {
    background-image: url(../img/Icons/play2.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    cursor: pointer;
}

.pausePlayer {
    background-image: url(../img/Icons/pause.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    cursor: pointer;
}

.wait {
    background-image: url(../img/Icons/wait.gif);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    cursor: pointer;
}

#stop {

    background-image: url(../img/Icons/stop2.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50%;
    cursor: pointer;
    height: 7vmin;
    width: 7vmin;

}

#songName {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 3vmin;
    font-weight: 300;
    letter-spacing: 0.02rem;
    color: #fff;
    margin: 1% 5% 0 5%;
}

#iTunesSong {
    width: 7vmin;
    height: 7vmin;
    background-image: url(../img/Icons/itunes.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 60%;
}

/* - CSS animation - */

@-webkit-keyframes animatedgradient {

    0% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

@keyframes animatedgradient {

    0% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}