@font-face {
    font-family: 'Murmansk';
    src: url('subset-MurmanskFWF.woff2') format('woff2'),
        url('subset-MurmanskFWF.woff') format('woff'),
        url('subset-MurmanskFWF.ttf') format('truetype'),
        url('subset-MurmanskFWF.svg#MurmanskFWF') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Murmansk';
    src: url('subset-MurmanskFWF.woff2') format('woff2'),
        url('subset-MurmanskFWF.woff') format('woff'),
        url('subset-MurmanskFWF.ttf') format('truetype'),
        url('subset-MurmanskFWF.svg#MurmanskFWF') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Murmansk';
    src: url('subset-MurmanskFWF.woff2') format('woff2'),
        url('subset-MurmanskFWF.woff') format('woff'),
        url('subset-MurmanskFWF.ttf') format('truetype'),
        url('subset-MurmanskFWF.svg#MurmanskFWF') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Murmansk';
    src: url('subset-MurmanskFWF.woff2') format('woff2'),
        url('subset-MurmanskFWF.woff') format('woff'),
        url('subset-MurmanskFWF.ttf') format('truetype'),
        url('subset-MurmanskFWF.svg#MurmanskFWF') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'KB ChopinScript';
    src: url('subset-KBChopinScript.woff2') format('woff2'),
        url('subset-KBChopinScript.woff') format('woff'),
        url('subset-KBChopinScript.ttf') format('truetype'),
        url('subset-KBChopinScript.svg#KBChopinScript') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KB ChopinScript';
    src: url('subset-KBChopinScript.woff2') format('woff2'),
        url('subset-KBChopinScript.woff') format('woff'),
        url('subset-KBChopinScript.ttf') format('truetype'),
        url('subset-KBChopinScript.svg#KBChopinScript') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KB ChopinScript';
    src: url('subset-KBChopinScript.woff2') format('woff2'),
        url('subset-KBChopinScript.woff') format('woff'),
        url('subset-KBChopinScript.ttf') format('truetype'),
        url('subset-KBChopinScript.svg#KBChopinScript') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KB ChopinScript';
    src: url('subset-KBChopinScript.woff2') format('woff2'),
        url('subset-KBChopinScript.woff') format('woff'),
        url('subset-KBChopinScript.ttf') format('truetype'),
        url('subset-KBChopinScript.svg#KBChopinScript') format('svg');
    font-weight: normal;
    font-style: normal;
}
